
.navbar {
    position: sticky;
    background-color: rgb(237, 242, 242);
    font-size: 30px;
    border-radius: 10px;
}

.navbar ul {
    overflow: auto;     
}

.navbar li {
    float: right;    /*When we float it gets overflow from parent */
    list-style: none;
    margin :55px 25px;
    padding-bottom: 0px;
    padding: 10px 10px;
    text-transform: uppercase;
    color: #edf2f2;
    font-size: 30px;
    line-height: 20px;
    
}

.navbar li a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 4 px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.search{
    float: right;
    padding: 12px 30px;
     margin: 10px 10px;
}

.navbar input{
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px 20px;
    padding-bottom: 10px;
}
.navbar a:hover{
    background-color: rgb(237, 242, 242);
}






body{
    background-color: rgb(237, 242, 242);
}
.con1{
    border: 2px;
    margin: auto;
    padding: 25px 25px;
    width: 500px;
    text-align: center;
    font-size: larger;
}
@keyframes slide-up {
    from {
        
        opacity: 0.25;
        line-height: 500px;
    }
    to {
        
        opacity: 1;
        line-height: 25px;
    }
}

.slide-up {
    animation: slide-up 2s;
}
.textbox{
border: 2px;
width: 44%;
height: 200px;
margin: 40px;
float: left;
color: rgb(83, 154, 73);
margin-left: 40px;

}

.textbox2{
border: 2px ;
/* width: 44%; */
align-items: center;
margin: 50px;
/* height: 200px; */
/* float: right; */
color: rgb(83, 154, 73)

 } 
#pid{
    text-align: left;
    margin: auto;
    padding: 15px 60px;
    color: rgb(102, 102, 102);
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: rgb(102, 102, 102);
    padding: 12px;
font-size: large;
}
.imgclass{
    float: right;
    margin: 45px 20px;
    padding: 12px 15px;
    border: 2px;
    width: 45%;
    margin-right: 50px;
    height: 250px;
}

.imgclass2{
    float: right;
    margin: 10px 65px;
    padding: 10px 15px;
    border: 2px;
    width: 45%;
    margin-right: 50px;
    height: 250px;
}

h2{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 12px;
}

